---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Katherine Selmani" description="About Katherine Selmani">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="353"
					height="373"
					src="/assets/profile-photos/2.jpeg"
					alt="Katherine Langarano at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p> 
						As an Information Technology Engineer, I am passionate about developing scalable, high-performance web applications using JavaScript and Python.
						I continuously expand my knowledge through hands-on projects and advanced learning to stay up-to-date with modern frameworks and technologies. 
						My goal is to create innovative digital solutions that deliver real value and impact in the tech industry
					</p>
					<p>
						Moreover, I'm highly enthusiastic about enhancing my expertise in DevOps and Software Architecture, recognizing their critical roles in building robust and efficient systems. 
						My ultimate goal is to leverage the skills and knowledge I acquire to contribute effectively in the technology sector.
					</p>

					<p>
						I am committed to maintaining a positive mindset that contributes to my overall well-being and vitality. As for personal interests, I have a passion for culinary adventures, exploring new dining establishments, travel, and the enriching experience of a good book. 
						These pursuits are not only my pastimes but also sources of inspiration and self-enrichment			
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p> IT engineer / Private Technical University of Loja</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Technical-Skills</h2>
				<div class="content">
					<p>HTML / CSS / Saas / JavaScript / Python / React / Tailwind / Bootstrap / Astro  </p>
				</div>
				<h2 class="section-title">Soft-Skills</h2>
				<div class="content">
					<p>Leader / Self-starter / Attention to detail / Eager to learn </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-left: 10rem;
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md)	;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
